<div class="container login-container">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6 my-5">
     <div *ngIf="showErrorAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Fout!</strong> {{ errorMessage }}
  <button type="button" class="btn-close" (click)="showErrorAlert = false"></button>
</div>


      <!-- Login Form -->
      <div class="card card-auth shadow-lg p-3 px-md-5 py-md-4">
        <h2>Login</h2>
        <form
          class="form-signin"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
        >
          <!-- Email Input -->
          <div class="form-group">
            <label for="inputEmail">Emailadres</label>
            <input
              type="email"
              class="form-control"
              placeholder="Email address"
              formControlName="email"
              id="inputEmail"
              [ngClass]="{
                'is-invalid':
                  loginForm.get('email')!.invalid &&
                  loginForm.get('email')!.touched
              }"
            />
            <span
              *ngIf="
                loginForm.get('email')!.invalid &&
                loginForm.get('email')!.touched
              "
              class="invalid-feedback"
            >
              <p id="email-invalid">Vul een geldig email in. Denk aan &#64; en '.com/.nl'!</p>
            </span>
          </div>

          <!-- Password Input -->
          <div class="form-group">
            <label for="inputPassword">Wachtwoord</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              id="inputPassword"
              [ngClass]="{
                'is-invalid':
                  loginForm.get('password')!.invalid &&
                  loginForm.get('password')!.touched
              }"
            />
            <span
              *ngIf="
                loginForm.get('password')!.invalid &&
                loginForm.get('password')!.touched
              "
              class="invalid-feedback"
            >
              <p id="password-invalid">Vul een geldig wachtwoord in!</p>
            </span>
          </div>

          <!-- Submit Button -->
          <div class="form-group">
            <button
              id="submitbutton"
              class="btn btn-lg btn-primary btn-block"
              type="submit"
              [disabled]="submitted || loginForm.invalid"
            >
              Log in
            </button>
          </div>

          <p>
            <a routerLink="/">Thuispagina</a> |
            <a routerLink="/register">Registreren</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
