<div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      class="form-control"
      required
      [(ngModel)]="user.email"
      name="email"
    />
  </div>
  
  <div class="form-group">
    <label for="password">Wachtwoord</label>
    <input
      type="password"
      id="password"
      class="form-control"
      required
      [(ngModel)]="user.password"
      name="password"
    />
  </div>
  
  <div class="form-group">
    <label for="confirmPassword">Bevestig wachtwoord</label>
    <input
      type="password"
      id="confirmPassword"
      class="form-control"
      required
      [(ngModel)]="user.confirmPassword"
      name="confirmPassword"
    />
  </div>
  
  <div class="form-group">
    <label for="name">Naam</label>
    <input
      type="text"
      id="name"
      class="form-control"
      required
      [(ngModel)]="user.name"
      name="name"
    />
  </div>
  
  <div class="form-group">
    <label for="birthdate">Geboortedatum</label>
    <input
      type="date"
      id="birthdate"
      class="form-control"
      required
      [(ngModel)]="user.birthdate"
      name="birthdate"
    />
  </div>
  
  <div class="form-group">
    <label for="biography">Biografie</label>
    <textarea
      id="biography"
      class="form-control"
      required
      [(ngModel)]="user.biography"
      name="biography"
    ></textarea>
  </div>
  
  <div class="form-group">
    <label for="phoneNumber">Telefoon nummer</label>
    <input
      type="tel"
      id="phoneNumber"
      class="form-control"
      required
      [(ngModel)]="user.phoneNumber"
      name="phoneNumber"
    />
  </div>
  
  <div class="form-group text-center">
    <button
      class="btn btn-primary"
      [disabled]="isLoading"
      (click)="onRegister()"
    >
      registreer
    </button>
  </div>
  