<section class="section_our_solution">
    <div class="row">
      <div class="our_solution_category">
        <div class="solution_cards_box activity-list">
          <h1>Evenementen waar ik aan mee doe</h1>
          <div *ngIf="activities.length > 0; else noActivities" class="activity-cards">
            <div *ngFor="let activity of activities" class="solution_card" 
                (click)="onMarkerClick(activity.id)">
              <div class="card-body">
                <h2>{{ activity.title }}</h2>
                <p class="date">{{ activity?.date | date: 'fullDate' }}</p>
                <p><strong>Geregisteerd op:</strong> {{ activity.registeredAt | date: 'short' }}</p>
                <p><strong>Adres:</strong> {{ activity.address }}, {{ activity.city }}</p>
              </div>
            </div>

            </div>
          </div>
          <ng-template #noActivities>
            <p>U doet nog niet mee aan activiteiten.</p>
          </ng-template>
        </div>
      </div>
  </section>