<section class="home-info-grey"> <div class="container"> 
    <div class="row"> <div class="col-md-7"> 
        <h2>
            Wat Wij Geloven
        </h2> 
        <p>
          Onze missie is om mensen te verbinden door middel van activiteiten. We geloven dat iedereen 
          het verdient om deel uit te maken van een gemeenschap en samen mooie herinneringen te creëren. 
          Of je nu op zoek bent naar avontuur, ontspanning of een manier om nieuwe mensen te ontmoeten, 
          onze activiteiten bieden iets voor iedereen.
        </p> 
        <p>
        Met behulp van GezelligTijd kun je eenvoudig activiteiten ontdekken in jouw omgeving en deelnemen met 
        slechts een paar klikken. Samen bouwen we aan een wereld waarin verbinding centraal staat.
        </p>
    </div> 
        <div class="col-md-5 drop-cap-text"> 
        <span class="drop-cap"><span class="drop-cap-letter">S</span></span> amen ontdekken we nieuwe mogelijkheden, inspireren we elkaar, en maken we van elke dag een een gezellige dag. Doe mee!
        </div> 
    </div>  
    </div>
</section>