<main role="main">
    <div class="container">
      <div class="text-center mb-5 position-relative">
        <img 
          src="../../../assets/websitebanner.jpg" 
          alt="Frontpage Image" 
          class="img-fluid rounded shadow"
          style="max-height: 600px; object-fit: cover; width: 100%; border-radius: 10px;">
        
        <div class="hero-content position-absolute" 
             style="bottom: 100px; left: 40px;">
          <a routerLink="/register" 
             class="btn btn-lg" 
             style="background-color: #3E7056; color: white; margin-right: 10px;">
            Aanmelden
          </a>
          <a routerLink="about" 
             class="btn btn-light btn-lg ml-3">
            Over ons
          </a>
        </div>
      </div>
      
        <div class="mediacontainer">
            <div class="row">
                <div class="col-lg-4">
                    <img 
                    src="../../../assets/Schermafbeelding 2025-01-13 134244.png" 
                    alt="Image 1" 
                    class="bd-placeholder-img rounded-circle" 
                    style="width: 140px; height: 140px; object-fit: cover; align-items: center;">
                  <h2 class="fw-normal">Petra Bakker</h2>
                  <p>Een echte aanrader!</p>
                  <p><a class="btn btn-secondary" 
                        href="#"
                        style="background-color: #3E7056; color: white;">bekijk profiel »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img 
                    src="../../../assets/Schermafbeelding 2025-01-13 134309.png" 
                    alt="Image 1" 
                    class="bd-placeholder-img rounded-circle" 
                    style="width: 140px; height: 140px; object-fit: cover; align-items: center;">
                  <h2 class="fw-normal">Dirk Kort</h2>
                  <p>Veel nieuwe vrienden leren kennen.
                  </p>
                  <p><a class="btn btn-secondary" 
                    href="#"
                    style="background-color: #3E7056; color: white;">bekijk profiel »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img 
                    src="../../../assets/Schermafbeelding 2025-01-13 134407.png" 
                    alt="Image 1" 
                    class="bd-placeholder-img rounded-circle" 
                    style="width: 140px; height: 140px; object-fit: cover; align-items: center;">
                  <h2 class="fw-normal">Jolanda de Jong</h2>
                  <p>altijd een gezellige avond via deze app.
                  </p>
                  <p><a class="btn btn-secondary" 
                    href="#"
                    style="background-color: #3E7056; color: white;">bekijk profiel »</a></p>
                </div>    
              </div>
              <hr class="featurette-divider">
              <div class="row featurette">
                <div class="col-md-7">
                  <h2 class="featurette-heading fw-normal lh-1">Eenzaamheid<span class="text-body-secondary"></span></h2>
                  <p class="lead">Eenzaamheid hoeft niet langer een stille strijd te zijn. Bij Gezelligtijd brengen we mensen samen door het organiseren van evenementen en activiteiten. Of je nu zin hebt in een kop koffie, een wandeling, of een gezellige middag spelletjes spelen – hier vind je altijd iets dat bij je past. Samen maken we jouw wereld groter en warmer. Doe mee en ontdek de kracht van verbinding!

                  </p>
                </div>
                <div class="col-md-5">
                    <img 
                    src="../../../assets/StockCake-Interactive Board Game_1736780255.jpg" 
                    alt="Default Image" 
                    class="featurette-image default-image" width="500px" height="500px">
                </div>
              </div>
              <hr class="featurette-divider">
              <div class="row featurette">
                <div class="col-md-7 order-md-2">
                  <h2 class="featurette-heading fw-normal lh-1">Waarom wij er zijn<span class="text-body-secondary"></span></h2>
                  <p class="lead">Bij Gezelligtijd geloven we in de kracht van verbinding. In een tijd waarin het steeds makkelijker lijkt om contact te verliezen, willen wij een plek bieden waar mensen elkaar écht kunnen ontmoeten. Onze app is gemaakt om mensen samen te brengen, om verhalen te delen, om te lachen en om samen iets moois te beleven.

                    We willen het eenvoudiger maken om anderen te leren kennen, activiteiten te organiseren en samen mooie momenten te creëren. Want uiteindelijk draait het in het leven om de herinneringen die we samen maken.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img 
                    src="../../../assets/asjdalfijweofkje0ijerivj90if32ifipoasjdfoijf.jpg" 
                    alt="Default Image" 
                    class="featurette-image default-image" width="500px" height="500px">
                </div>
              </div>
              <hr class="featurette-divider">
              <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">
                      Vind evenementen op jouw manier<span class="text-body-secondary"></span>
                    </h2>
                    <p class="lead">
                      Bij Gezelligtijd bepaal jij zelf waar je naar kijkt. Met onze unieke kaartfunctie kun je eenvoudig een gebied selecteren door een vorm te tekenen – een vierkant, cirkel, of een vrij figuur. Binnen dat door jou gekozen gebied zie je direct alle evenementen die daar plaatsvinden.

                      Deze technologie geeft je de vrijheid om zelf te bepalen waar je naar zoekt, of het nu om je directe omgeving gaat of om een specifieke plek die je wilt verkennen. Zo maak je het vinden van leuke activiteiten nóg persoonlijker en makkelijker.
                    </p>
                </div>
                <div class="col-md-5">
                    <div class="hover-image-container">
                        <img 
                            src="../../../assets/Schermafbeelding 2025-01-13 150907.png" 
                            alt="Default Image" 
                            class="featurette-image1 default-image">
                        <img 
                            src="../../../assets/breda1233333.jpg" 
                            alt="Hovered Image" 
                            class="featurette-image1 hover-image">
                    </div>
                </div>
            </div>
            
            
              <hr class="featurette-divider">
        </div>  
    </div>

    
</main>
