<main role="main">
    <div class="text-center mb-5">
        <img 
            src="https://marketplace.canva.com/EAED_WYebUA/2/0/1600w/canva-explore-brush-script-photo-facebook-cover-nmLQj7f0bVU.jpg" 
            alt="Workout Image" 
            class="img-fluid rounded shadow"
            style="max-height: 600px; object-fit: cover; width: 100%; border-radius: 10px;">
        <div class="hero-content" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <h1 class="display-4 mt-4 text-dark font-weight-bold">Welkom bij GezelligTijd</h1>
            <p class="lead text-dark">Een platform of met andere in de buurt te socialiseren</p>
            <a href="#aanmelden" class="btn btn-danger btn-lg">Aanmelden</a>
            <a routerLink="about" class="btn btn-light btn-lg ml-3">Over ons</a>
        </div>
    </div>

    
</main>