<div class="container-fluid px-5 my-5" *ngIf="event; else loading">
  <div *ngIf="showSuccessAlert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Succes!</strong> {{ successMessage }}
    <button type="button" class="btn-close" (click)="showSuccessAlert = false"></button>
  </div>
  <div *ngIf="showErrorAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Fout!</strong> {{ errorMessage }}
    <button type="button" class="btn-close" (click)="showErrorAlert = false"></button>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card border-0 rounded-4 shadow-lg overflow-hidden">
        <div class="card-body p-0">
          <div class="row g-0">
            <div class="col-sm-6 d-none d-sm-block bg-image" [style.backgroundImage]="'url(../../../../assets/PB_Bingo-Night_Web.jpg)'">
              <div class="profile-picture-container">
                <img src="assets/blank-profile-picture-973460_1280.png" alt="Organizer Profile" class="profile-picture"/>
              </div>
            </div>
            <div class="col-sm-6 p-5">
              <div class="text-center mb-4">
                <h1 class="fw-bold">{{ event?.title }}</h1>
              </div>

              <div class="details-section">
                <div class="detail-item"><strong>Naam:</strong> {{ event?.title }}</div>
                <div class="detail-item"><strong>Beschrijving:</strong> {{ event?.description }}</div>
                <div class="detail-item"><strong>Mogelijke Kosten:</strong> €{{ event?.cost }}</div>
                <div class="detail-item"><strong>Adres en Postcode:</strong> {{ event?.address }}</div>
                <div class="detail-item"><strong>Organisator:</strong> {{ event?.organizerName }}</div>
              </div>
              
              <div class="participants-section mt-5">
                <h3 class="fw-bold">Deelnemers:</h3>
                <ul>
                  <li *ngFor="let participant of participants">
                    {{ participant.name }} ({{ participant.emailAddress }})
                  </li>
                </ul>
              </div>

              <div class="text-center mt-5">
                <button class="btn btn-primary btn-lg px-4 py-2 fw-bold" (click)="participate(event.id)">Meedoen!</button>
                <button class="btn btn-danger btn-lg px-4 py-2 fw-bold ms-3" (click)="cancelParticipation(event.id)">Afmelden</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="text-center">
    <p>Gegevens laden...</p>
  </div>
</ng-template>
